﻿@model GSF.WebApplication.Models.PlanejamentoFeriasViewModel
@{
    ViewBag.Title = "PlanejamentoFerias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            @*<!-- form date pickers -->
            <div class="x_panel" style="">
                <div class="x_content">
                    <div class="well" style="overflow: auto">
                        <div class="col-md-4">
                            Date Range Picker
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend input-group">
                                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                <input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="01/01/2016 - 01/25/2016" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /form datepicker -->
            <br />
            <!-- /form grid slider -->
            <!-- image cropping -->
            <div class="container cropper">
                <div class="row">

                    <div class="row">
                        <!-- Show the cropped image in modal -->
                        <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="getCroppedCanvasTitle">Cropped</h4>
                                    </div>
                                    <div class="modal-body"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.png">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.modal -->
                    </div><!-- /.docs-buttons -->
                </div>
            </div>
            <!-- /image cropping -->*@
        </div>
    </div>
</div>


<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script src="~/Scripts/custom.min.js"></script>

<script>
    $(document).ready(function () {

        $('input[name="reservation"]').daterangepicker();
    });

</script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#demo-form2").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Funcionarios/PlanejamentoFerias",
                data: $("#demo-form2").serialize(),
                success: function (data) {
                    if (data.Status) {
                        //Logged in succesfully
                    } else {
                        //Login failed
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                }
            });
        });
    });

</script>*@