﻿
@{
    ViewBag.Title = "PontoEletronico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ponto Eletrônico</h2>

<div class="">
    <div class="row">

    <div class="jumbotron">
        <h1 id="horarioPontoEletronico" class="display-3"></h1>
        <p><a class="btn btn-lg btn-success" href="#" role="button" onclick="RegistrarPonto()">Registrar Ponto!</a></p>
    </div>
    </div>

</div>

<script src="~/Scripts/jquery.min.js"></script>

<script>

    function RegistrarPonto()
    {
        var ponto = document.getElementById("horarioPontoEletronico").innerText;

        $.ajax({
                    type: "POST",
                    url: "/Funcionarios/RegistrarPonto",
                    data: { horario: ponto },
                    success: function (data) {
                       if (data.Status) {
                            //Logged in succesfully
                         } else {
                            //Login failed
                         }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.responseText);
                    }
                });
    }

    $(document).ready(function () {
        startTime();
    });
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('horarioPontoEletronico').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
</script>
