﻿@using GSF.WebApplication.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerenciamento de Funcionários</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/nprogress.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    
    <script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gerenciamento de Funcionários</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>

                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Funcionário <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Cadastrar", "Cadastrar", "Funcionarios")</li>
                                        <li>@Html.ActionLink("Listar", "Listar", "Funcionarios")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Planejamento de Ferias <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Cadastrar Ferias", "PlanejamentoFerias", "Funcionarios")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> Ponto Eletrônico <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Registrar", "PontoEletronico", "Funcionarios")</li>
                                        <li>@Html.ActionLink("Consultar", "PontoEletronicoDetalhes", "Funcionarios")</li>
                                    </ul>
                                </li>
                            </ul>

                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                var usuario = (UserApplication)Session["usuario"];

                                switch (usuario.Roles.ToUpper())
                                {
                                    case "ADMINISTRADOR":
                                        <ul class="nav side-menu">
                                            <li>
                                                <a><i class="fa fa-home"></i> Funcionário <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Cadastrar", "Cadastrar", "Funcionarios")</li>
                                                    <li>@Html.ActionLink("Listar", "Listar", "Funcionarios")</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        break;
                                    case "FUNCIONARIO":
                                        <ul class="nav side-menu">
                                            <li>
                                                <a><i class="fa fa-home"></i> Planejamento de Ferias <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Cadastrar Ferias", "PlanejamentoFerias", "Funcionarios")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-home"></i> Ponto Eletrônico <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Registrar", "PontoEletronico", "Funcionarios")</li>
                                                    <li>@Html.ActionLink("Consultar", "PontoEletronicoDetalhes", "Funcionarios")</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        break;
                                    default:
                                        break;
                                }
                            }
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- /sidebar menu -->

        

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">@ViewBag.Login
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>@Html.ActionLink("Perfil", "Profile", "Account")</li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>Configurações</span>
                                        </a>
                                    </li>
                                    <li><a href="@Url.Action("LogOff","Account")"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                   Victor | Leandro | Ricardo
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.min.js"></script>

</body>
</html>
