﻿@model GSF.WebApplication.Models.LogOnViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerenciamento de Funcionários</title>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Content/css/nprogress.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.css" rel="stylesheet" />
</head>
<body class="login">
    <div>
        <div class="login_wrapper">

            <div id="signup" class="">
                <section class="login_content">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h1>Esqueceu senha</h1>
                        <div>
                            @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", @placeholder = "Email", @required = "required" })
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default">Avançar</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Já possui cadastro?
                                <a href="@Url.Action("Logon","Account")" class="to_register"> Log in </a>
                            </p>
                        </div>
                    }
                </section>
            </div>
            
        </div>
    </div>
</body>
</html>
