﻿@model GSF.WebApplication.Models.LogOnViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerenciamento de Funcionários</title>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Content/css/nprogress.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <a class="hiddenanchor" id="esqueceu"></a>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>Erro!</strong> @Html.ValidationMessage("CustomError")
            </div>
        }
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("LogOn", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h1>Login</h1>
                        <div>
                            @Html.TextBoxFor(x => x.Login, new { @type = "text", @class = "form-control", @placeholder = "Login", @required = "required" })
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.Senha, new { @type = "password", @class = "form-control", @placeholder = "Senha", @required = "required" })
                        </div>
                        <div class="erro"></div>
                        <div>
                            <button type="submit" class="btn btn-default">Log in</button>
                            <a class="reset_pass" href="#" onclick="RecuperarSenha()">Esqueceu a senha?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Não possui conta?
                                <a href="#signup" class="to_register"> Criar Conta</a>
                            </p>
                        </div>
                    }
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    @using (Html.BeginForm("Create", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h1>Criar Conta</h1>
                        <div>
                            @Html.TextBoxFor(x => x.Login, new { @type = "text", @class = "form-control", @placeholder = "Usuario", @required = "required" })
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", @placeholder = "Email", @required = "required" })
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.Senha, new { @type = "password", @class = "form-control", @placeholder = "Senha", @required = "required" })
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default">Cadastrar</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Já possui cadastro?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                        </div>
                    }
                </section>
            </div>
            
        </div>
    </div>


    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.min.js"></script>
    <script src="~/Scripts/fastclick.js"></script>

    
</body>
</html>
